<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278945875398-49m5beko4cui82b8s23l8hrosu0hpaj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278945875398-49m5beko4cui82b8s23l8hrosu0hpaj4</string>
	<key>API_KEY</key>
	<string>AIzaSyDChsJF6mK_qRF0DomUbSN-9jlXhfjkmPk</string>
	<key>GCM_SENDER_ID</key>
	<string>278945875398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.djamware.rnemailauth</string>
	<key>PROJECT_ID</key>
	<string>my-react-native-faf41</string>
	<key>STORAGE_BUCKET</key>
	<string>my-react-native-faf41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278945875398:ios:633cb50c6a824245fedec7</string>
	<key>DATABASE_URL</key>
	<string>https://my-react-native-faf41.firebaseio.com</string>
</dict>
</plist>